.timer-container {
  position: relative;
  width: 55px;
  height: 55px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.timer-container .seconds {
  font-size: 15px;
  text-align: center;
  color: #5DCBB2;
}

.timer-container svg {
  position: absolute;
  transform: rotate(-90deg);
}

.timer-container svg circle {
  fill: none;
  stroke-width: 2.375px;
}

.timer-container svg circle.background {
  stroke: #3B3B5A;
}

.timer-container svg circle.progress {
  stroke-dasharray: 157px;
  stroke-dashoffset: 157px;
  stroke-linecap: round;
  stroke: #5DCBB2;
}

@media only screen and (min-width: 961px) {
  .timer-container {
    margin-top: 117px;
  }

  .timer-container .seconds {
    font-size: 19.2px;
  }

  .timer-container svg {
    transform: rotate(-90deg) scale(1.2);
  }
}