.quiz-app {
  height: 100%;
  background: #31314B;
  color: #F2F2F2;
}

.play-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 281px;
  height: 63px;
  font-family: Pixellari;
  color: #F2F2F2;
  font-size: 18px;
  text-align: center;
  background: #3B3B5A;
  border-radius: 31.5px;
  border: none;
  outline: none;
}

.highlight {
  background: #5DCBB2;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 961px) {
  .button {
    width: 365px;
    height: 82px;
    font-size: 23.4px;
    border-radius: 40.95px;
  }
}