.result-container {
  position: absolute;
  top: 60px;
  right: 60px;
  text-align: right;
}

.result-container.ended {
  top: 31px;
  right: 55px;
}

.result-container .score {
  font-size: 20px;
  line-height: 36px;
}

.result-container .time {
  font-size: 17px;
  color: #8B8BA8;
}

@media only screen and (min-width: 961px) {
  .result-container {
    top: 120px;
  }

  .result-container .score {
    font-size: 27px;
    line-height: 43px;
  }

  .result-container .time {
    font-size: 22px;
  }
}