.question-container {
  display: flex;
  max-width: 375px;
  padding: 0 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: center;
}

.question {
  margin-bottom: 69px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media only screen and (min-width: 961px) {
  .question {
    font-size: 31.2px;
    line-height: 47px;
  }
}