.progress-bar-container .current {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #8B8BA8;
}

.progress-bar-container .progress-bar {
  position: relative;
  height: 5px;
  background: #3B3B5A;
}

.progress-bar-container .progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #5DCBB2;
}

@media only screen and (min-width: 961px) {
  .progress-bar-container .current {
    font-size: 23.4px;
    line-height: 47px;
  }
}