@keyframes blink {
  0% { background: #5DCBB2; }
  40% { background: #3B3B5A; }
  60% { background: #3B3B5A; }
  100% { background: #5DCBB2; }
}

.answer {
  margin-bottom: 20.5px;
}

.answer.dark {
  background: #272742;
}

.answer.blink {
  animation: blink 0.5s ease-in-out;
}

@media only screen and (min-width: 961px) {
  .answer:hover:not(:disabled) {
    transform: scale(1.03);
  }
}
